<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
">
	<context:property-placeholder location="classpath*:config.properties" />

	<context:component-scan
		base-package="com.blusky.www.daoImpl,com.blusky.www.serviceImpl,com.blusky.www.notification" />

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jndiName}" />
		<property name="jndiEnvironment">
			<props>
				<prop key="java.naming.factory.initial">weblogic.jndi.WLInitialContextFactory</prop>
				<prop key="java.naming.provider.url">t3://localhost:7001</prop>
	
			</props>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>

				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>

				<prop key="hibernate.dialect">${hibernate.dialect}</prop>

				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>

				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				
				<prop key="statement_cache.size">0</prop>
				
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
						<!-- 	 <prop key="hibernate.cache.provider_class">
 					org.hibernate.cache.EhCacheProvider
 				</prop>
				 使用查询缓存
				 <prop key="hibernate.cache.use_query_cache">true</prop> -->
				
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.blusky.www.bean</value>
			</list>
		</property>
	</bean>


	<bean name="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	<!-- activeMQ JavaMail -->

	<!-- <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="shuaixiao1223@gmail.com" />
		<property name="password" value="${email.pass}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.auth.ntlm.domain">DOMAIN</prop>
			</props>
		</property>
	</bean> -->
	<!--  <bean id="reqAmqMsgQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <property name="physicalName" value="amqMsgQueue" />
    </bean> -->

    <bean id="reqAmqEmailQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <property name="physicalName" value="amqEmailQueue" />
    </bean>


 <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
    <property name="connectionFactory">
      <bean class="org.apache.activemq.ActiveMQConnectionFactory">
        <!-- <property name="brokerURL">
          <value>tcp://localhost:61616</value>
        </property> -->
        <constructor-arg index="0" value="vm://localhost" />
      </bean>
    </property>
  </bean>
 
  <!-- Spring JMS Template -->
  <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory" ref="jmsFactory"/>
      <property name="defaultDestination" ref="reqAmqEmailQueue" />
  </bean>


<!--     <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://0.0.0.0:61616" />
       <constructor-arg index="0" value="vm://localhost" />
    </bean> -->
  <!--   <bean id="amqMobileListener" class="com.blusky.www.message.AMQMobileListener" /> -->

<!--     <bean id="container" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref ="activeMQConnectionFactory" />
        <property name="destination" ref ="reqAmqMsgQueue"/>
        <property name="messageListener" ref ="messageListener"/>
        <property name="concurrentConsumers" value="1" />
    </bean> -->

   <bean id="emailListener" class="com.blusky.www.notification.AMQEmailListener" /> 
    <bean id="emailContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref ="jmsFactory" />
        <property name="destination" ref ="reqAmqEmailQueue"/>
        <property name="messageListener" ref ="emailListener"/>
        <property name="concurrentConsumers" value="1" />
    </bean>
<!-- 
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="activeMQConnectionFactory" />
        <property name="defaultDestination" ref="reqAmqEmailQueue" />
    </bean> -->


</beans>