@CHARSET "UTF-8";

body {
	font-family: arial;
	background-color:rgb(248,248,248);
}

.navbar-default {
	/* background-color: white; */
	border: none;
	box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.33);
}
.navbar-default a.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: grey;
    height: 60px;
    line-height: 30px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    color: grey;
    height: 60px;
    line-height: 30px;
    font-weight: bold;
}
.navbar-toggle {
    margin-top: 13px;
}



#form{
	margin-top:100px;
}
#foot{
	background-color:black;
	color:white;
	height:100px;
	text-align:center;
}


.panel-heading{
	text-align:center;
	
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left:0px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 7px;
    padding-left: 7px;
}

#description{
	width:100%;
	
}

@media (min-width: 992px){
#map {
    height: 800px;
	}
}
@media (max-width: 991px){
#map {
    height: 400px;
	}
}

.media-body {
    width: 100px;
}

@media (min-width: 992px){
.img-info{
	width:150px;
	}
}
@media (max-width: 991px){
.img-info{
	width:100px;
	}
}

.labels {
     color: white;
     background-color: black;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     white-space: nowrap;
     }